<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="apple-touch-icon" href="./icons/192x192.png" />
    <link rel="manifest" href="./app.webmanifest" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link rel="icon" href="./icons/192px.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap"
      rel="stylesheet"
    />
    <title>Restoran Apps - Muammaruddin</title>
  </head>
  <body>
    <a href="#main-title" class="skip-link">Skip to Content</a>
    <header>
      <div class="headerinner">
        <nav class="nav-bar" id="drawer">
          <div class="titleBar">
            <h4>Water Boom Resto</h4>
          </div>

          <div class="nav-list" id="navigationDrawer">
            <div class="list-link">
              <div class="hamburg-menu">
                <a href="#" id="hamburger">☰</a>
              </div>

              <ul id="list">
                <li><a href="#/home">Home</a></li>
                <li><a href="#/like">Favorite</a></li>
                <li>
                  <a
                    href="https://www.linkedin.com/in/muammar-uddin-66062030a/"
                    target="_blank"
                    rel="noopener"
                    >About Us</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>

    <main id="mainContent" tabindex="0"></main>

    <footer>
      <h4>Copyright &#169; 2024 - Muammaruddin Restaurant Apps</h4>
    </footer>
  </body>
</html>
